<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My.tagnet.pro</title>
    <link rel="icon" href="/static/favicon.ico">
</head>

<body>
    <header>
        <h1>Bienvenido a mi sitio</h1>
    </header>

    <main>
        <h2>aki no hay nada que ver</h2>
        <!-- Aquí puedes agregar el contenido de tu página -->
    </main>

    <footer>
        <p>&copy; 2023 my.tagnet.pro</p>
    </footer>
</body>

</html>