<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My tagnet pro</title>
    <link rel="icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="/styles/index.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>

<body>
    <section class="template1">
        <div class="container">
            <div class="izquierda">
                <div class="container-video">
                    <img class="video" src="/static/video2.gif">
                    <div class="overlay"></div>
                </div>
                <div class="contenido-izquierda">
                    <div>
                        <a class="logo-link" href="192.168.1.19:8080/">
                            <img class="logo" src="/static/logoBlanco.png">
                        </a>
                    </div>
                    <div>
                        <h1 class="titulo">
                            ¡Hey! Nos alegra que quieras ser parte de este equipo
                        </h1>
                        <p>
                            We are glad to see you again! Get access to your Orders,
                            Wishlist Recommendations.Nulla facilisi. Nullam in magna
                            id dolor blandit rutrum eget vulputate augue sed eu leo
                            eget risus dummy text here now ready works imperdiet.
                        </p>
                    </div>
                    <div class="container-list">
                        <ul>
                            <li>
                                <a href="https://facebook.com">
                                    <img class="redes-sociales" src="/static/icons/instagram.png" alt="facebook">
                                </a>
                            </li>
                            <li>
                                <a href="https://google.com">
                                    <img class="redes-sociales" src="/static/icons/facebook.png" alt="google">
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com">
                                    <img class="redes-sociales" src="/static/icons/youtube.png" alt="twitter">
                                </a>
                            </li>
                        </ul>
                        <div>
                            Tagnet.pro © 2023. Creado por Conecta.NET
                        </div>
                    </div>
                </div>
            </div>
            <div class="derecha">
                <div class="contenido-derecha">
                    <div id="form-container" class="flip-container">
                        <div class="front">
                            <h2 class="title-static">Registrarse</h2>
                            <div class="form-step">
                                <h2 class="title-label">
                                    Información Personal
                                </h2>
                                <form id="form-register">
                                    <div class="form-group">
                                        <input id="name" type="text" class="form-control" name="name"
                                            placeholder="Nombre">
                                    </div>
                                    <div class="form-group">
                                        <input id="email" type="email" class="form-control" name="email"
                                            placeholder="Correo">
                                    </div>
                                    <div class="form-group">
                                        <input id="password" type="password" class="form-control" name="password"
                                            placeholder="Contraseña">
                                    </div>
                                    <div class="form-group">
                                        <input id="confirm-password" type="password" class="form-control"
                                            name="confirm-password" placeholder="Confirmar Contraseña">
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" name="submit" class="send-button" value="Enviar">
                                    </div>
                                </form>
                            </div>
                            <div class="form-group">
                                <p class="label-change">¿Ya eres usuario de tagnet? <input type="button" name="login"
                                        class="login-button change-button" value="Iniciar Sesión"></p>

                                <p id="response-message" class="response-message"></p>
                            </div>
                        </div>
                        <div class="back">
                            <h2 class="title-static">
                                ¡Bienvenido de Vuelta!
                            </h2>
                            <form action="/login" id="form-login" method="post"
                                enctype="application/x-www-form-urlencoded">
                                <h2 class="title-label">
                                    Iniciar Sesión
                                </h2>
                                <div class="form-group">
                                    <input id="email-login" type="email" class="form-control" name="email"
                                        placeholder="Correo">
                                </div>
                                <div class="form-group">
                                    <input id="password-login" type="password" class="form-control" name="password"
                                        placeholder="Contraseña">
                                </div>
                                <div class="form-group">
                                    <input type="submit" name="submit" class="send-button" value="Enviar">
                                </div>
                            </form>
                            <div class="form-group">
                                <p class="label-change">¿Aun no te haz registrado? <input type="button" name="login"
                                        class="login-button change-button" value="Registrarse"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>
        $(document).ready(function () {
            // Manejar clic en el botón de iniciar sesión
            $('.login-button').click(function () {
                $('#form-container').toggleClass('flipped');
            });

            // Manejar envío de formulario por Ajax
            $('#form-register').submit(function (event) {
                event.preventDefault(); // Evitar la acción por defecto del formulario

                var formData = $(this).serialize(); // Serializar datos del formulario

                $.ajax({
                    type: 'POST',
                    url: '/signup', // URL a la que se enviará la solicitud
                    data: formData,
                    success: function (response) {
                        // Manejar la respuesta del servidor
                        if (response.status === 'success') {
                            // Mostrar mensaje de éxito en el frontend
                            $('#response-message').text('Registro exitoso: ' + response.message).removeClass('error-message').addClass('success-message');
                        } else {
                            // Mostrar mensaje de error en el frontend
                            $('#response-message').text('Error en el registro: ' + response.message).removeClass('success-message').addClass('error-message');
                        }
                        // Puedes agregar aquí código adicional según tus necesidades
                    },
                    error: function (error) {
                        // Manejar errores de la solicitud
                        console.error('Error en el registro:', error);
                        // Mostrar mensaje de error en el frontend
                        $('#response-message').text('Error en el registro: ' + error.responseJSON.error).removeClass('success-message').addClass('error-message');
                        // Puedes agregar aquí código adicional para manejar el error
                    }
                });
            });
        });
    </script>
</body>

</html>