<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My tagnet pro</title>
    <link rel="icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="/styles/index.css">
</head>

<body>
    <section class="template1">
        <div class="container">
            <div class="izquierda">
                <div class="container-video">
                    <img class="video" src="/static/video2.gif">
                    <div class="overlay"></div>
                </div>
                <div class="contenido-izquierda">
                    <div>
                        <a class="logo-link" href="192.168.1.19:8080/">
                            <img class="logo" src="/static/logoBlanco.png">
                        </a>
                    </div>
                    <div>
                        <h1>
                            Hey there! It's great to have you as part of the team
                        </h1>
                        <p>
                            We are glad to see you again! Get access to your Orders,
                            Wishlist Recommendations.Nulla facilisi. Nullam in magna
                            id dolor blandit rutrum eget vulputate augue sed eu leo
                            eget risus dummy text here now ready works imperdiet.
                        </p>
                    </div>
                    <div class="container-list">
                        <ul>
                            <li>
                                <a href="https://facebook.com">
                                    <img src="/static/icons/facebook.png" alt="facebook">
                                </a>
                            </li>
                            <li>
                                <a href="https://google.com">
                                    <img src="/static/icons/gmail.png" alt="google">
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com">
                                    <img src="/static/icons/twitter.png" alt="twitter">
                                </a>
                            </li>
                        </ul>
                        <div>
                            Tagnet.pro © 2023. Creado por Conecta.NET
                        </div>
                    </div>
                </div>
            </div>
            <div class="derecha">
                <div class="contenido-derecha">
                    <div class="form">

                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>