@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#container {
    width: 33.333333%;
    height: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: auto;
    padding: 1%;
    text-align: center;
    position: relative;
}

.logo {
    width: 130px;
    height: 45px;
}

.name-container {
    position: absolute;
    width: 96%;
    top: 50%;
    left: 0;
    z-index: 4;
    padding-left: 2%;
    padding-right: 2%;
}

.name {
    margin: 0%;
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
}

.description-container {
    position: absolute;
    width: 90%;
    top: 54%;
    left: 0;
    z-index: 5;
    padding-left: 5%;
    padding-right: 5%;
}

.imageProfile-container {
    width: 32.5%;
    height: 20%;
    z-index: 3;
    left: 32.5%;
    top: 28%;
    position: absolute;
}

.imageBanner-container {
    width: 95%;
    height: 32%;
    overflow: hidden;
    border-radius: 3%;
    z-index: 1;
    position: absolute;
}

.img2 {
    width: 100%;
    height: 100%;
}

.img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: darkgrey;
}

@media (max-width: 768px) {

    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
    }

    #container {
        width: 100%;
        padding: 2%;
        height: 100%;
        text-align: center;
        position: relative;
    }

    .name-container {
        position: absolute;
        width: 96%;
        top: 38%;
        left: 0;
        z-index: 4;
        padding-left: 2%;
        padding-right: 2%;
    }

    .name {
        margin: 0%;
        font-family: 'Montserrat', sans-serif;
        font-size: 23px;
    }

    .description-container {
        position: absolute;
        width: 96%;
        top: 41%;
        left: 0;
        z-index: 4;
        padding-left: 2%;
        padding-right: 2%;
    }

    .imageProfile-container {
        width: 35%;
        height: 17%;
        z-index: 2;
        left: 32.5%;
        top: 19%;
        position: absolute;
    }

    .imageBanner-container {
        width: 96%;
        height: 22%;
        overflow: hidden;
        border-radius: 3%;
        z-index: 1;
        position: absolute;
    }

    .img2 {
        width: 100%;
        height: 100%;
    }

    .img {
        width: 100%;
        height: 100%;
        border-radius: 100%;
    }
}