body {
    margin: 0;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    height: 100%;
    line-height: 1.7;
    vertical-align: baseline;
    color: #fff;
    background-color: #fff;
}

.template1 {
    background-color: #F0F0F0;
    width: 100%;
    min-height: 100vh;
    display: grid;
    position: relative;
}

.container {
    display: flex;
}

.izquierda {
    padding: 70px calc(9vw + 70px) 70px 70px;
    position: relative;
    z-index: 1;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-video {
    position: absolute;
    z-index: 0;
    min-width: 100%;
    min-height: 100%;
    left: 0px;
    top: 0px;
}

.video {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    user-select: none;
}

.overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.contenido-izquierda { 
    align-items: center;
    z-index: 3;
    justify-content: center;
}

.logo-link {
    margin-bottom: 30px;
    max-width: 35vw;
}

.logo {
    width: 30%;
    height: auto;
}

.titulo {
    font-size: 50px;
    font-weight: bold;
    line-height: 1;
}

.container-list {
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
}

ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    margin-right: 16px;
    margin-bottom: 8px;
}

.redes-sociales {
    width: 50px;
    height: 50px;
}

.derecha {
    width: 50%;
}

.contenido-derecha {
    display: flex;
    height: 100vh;
    align-items: center;
}

#form-container {
    position: relative;
    z-index: 1;
    margin-left: -7vw;
    width: 70%;
    background-color: #ffffff;
    padding: 30px 90px 110px 70px;
    border-radius: 20px;
    box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.1)
}

.front,
.back {
    backface-visibility: hidden;
    display: block;
    visibility: visible; 
}

.title-static {
    color: #14133b;
    font-size: 25px;
}

#step-info {
    color: #14133b;
}

.progress {
    height: 10px; 
    width: 100%; 
    background-color: #E3E4E2;
    border-radius: 25px;
    margin-bottom: 35px;
    margin-top: 15px;
}

.progress-bar {
    border-radius: 25px;
    height: 100%;
    transition: width 0.5s ease;
}

/* color de la parte completada de la barra de progreso */
.progress-bar[aria-valuenow] {
    width: calc(var(--porcentaje-completado, 0) * 1%);
    background-color: #ff9045; 
}

.title-label {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
    color: #14133b;
}

.form-control {
    width: 100%;
    margin-bottom: 25px;
    font-size: 1rem;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 25px;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    box-shadow: none;
    padding: 10px 0px 10px 20px;
    color: #111;
    box-sizing: border-box; /* Agregando esta propiedad para incluir padding y border en el ancho */
}

.form-group-buttons {
    display: flex;
}

.next-button,
.previous-button, 
.send-button {
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    margin-right: 5px;
    font-size: 15px;
    font-weight: 400;
    box-shadow: none;
    outline: none;
    border: 1px solid;
    color: #fff;
    border-radius: 45px;
    padding: 9px 20px;
    transition: all 0.3s ease-in-out;
    background-color: #ff9045;
}

.flip-container {
    perspective: 1000px;
}

.flip-container {
    width: 100%;
    height: 70vh;
}

.flip-container {
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    
}

.flip-container.flipped {
    transform: rotateY(180deg);
}

#form-container.flipped {
    padding: 30px 70px 110px 90px;
}



.back {
    transform: rotateY(180deg);
    display: none;
    visibility: hidden;
}

.flip-container.flipped .front {
    display: none;
    visibility: hidden;
}

.flip-container.flipped .back {
    display: block;
    visibility: visible;
}

.change-button {
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    font-size: 17px;
    box-shadow: none;
    outline: none;
    border: 0;
    color: #14133b;
    padding: 0px; /* Ajusta el espaciado según tu preferencia */
    background-color: transparent;
}


.label-change {
    color: #14133b;
}